table {
  width:70%;
  margin-left: 17%;
}

a{
  color: black;
}
body{
  margin: 0 auto;
}
h4{
  color: black;
  font-size: x-large;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 37%;
  padding-top: 3%;
  padding-bottom: 3%;
}  

#footer{
  color: black;
  margin-left: 50%;
  padding-bottom: 3%;
  padding-top: 3%;    
}
