body{
    background-color:#2f4f4f;
    width: 100%;
    margin: 0 auto;
    width: 700px;
    padding: 25px;   
}
  h4{
      color: white;
      font-size: x-large;
      font-family: "Lucida Console", "Courier New", monospace;
      margin-left: 18%;
  }  
  a{
      color: black;
      margin-left: 3%;
  }
  table {
    width:100%;

  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  #t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  #t01 th {
    background-color: black;
    color: white;
  }

  .footer{
      color: white;
      margin-left: 43%;
      margin-top: 3%;
      
  }
 